#coffee {
  background-image: url("../img/cafe.jpg");
}

#cracha {
  background-image: url("../img/cracha.jpg");
}

#lista {
  background-image: url("../img/lista.jpg");
}

#mala {
  background-image: url("../img/mala.jpg");
}

#oculos {
  background-image: url("../img/oculos.jpg");
}

#tv {
  background-image: url("../img/tv.jpg");
}
